$bgcolor : #ffffff;
.right_contents{
  width: 80%;
  margin-left: 200px;
  &_title{
    font-size: 30px;
    padding-top: 2em;
    padding-right: 2em;
    margin-left: calc(100%/2 - 200px / 2);
  }
  &_mainimg{
    display: block;
    width: 0px;
    height: 0px;
  }
}
.wrap{
  height: 200px;
  margin-top: 50px;
}
.imagewrapper{
  display: flex;
  flex-wrap: wrap;
}
.work_imgs{
  width: 100px;
  height: 100px;
  margin-top: 50px;
  margin-left: 10%;
  box-shadow: 3px 3px 30px 0px #c0c0c0, -3px -3px 30px 0px #ffffff;
  transition: 0.3s ease-in-out 0s;
  &:hover{
    box-shadow: 0px 0px #ffffff ;
    transition: 0.3s ease-in-out 0s;
    }
  &:active{
    position: absolute;
    width: 70%;
    height: 70%;
    margin-top: 0px;
    margin-left: 0px;
    z-index: 1;
    border: solid 1px;
    transition: 0.3s ease-in-out 0s;

  }
}
.work_texts{
  display: block;
  &-heading{
    font-size: 30px;
    font-style: bold;
    margin-top: 50px;
    margin-left: 10%;

  }
  &-passage{
    display: block;
    word-wrap: break-word;
    width: 70%;
    margin-top: 20px;
    margin-left: 15%;

  }

}
.form-controll, .form-text, .form-btn{
}
input.form-text{
	width:80%;
	height:200px;
	overflow-wrap:anyware;
	line-height:100px;
}
