$bgcolor : #ffffff;
.right_contents{
  width: 80%;
  margin-left: 200px;
  &_title{
    font-size: 30px;
    padding-top: 2em;
    padding-right: 2em;
    margin-left: calc(100%/2 - 200px / 2);
  }
  &_mainimg{
    display: block;
    width: 0px;
    height: 0px;
  }
}
.wrap{
  height: 200px;
  margin-top: 50px;
}
.imagewrapper{
  display: flex;
  flex-wrap: wrap;
}
.work_imgs{
  width: 100px;
  height: 100px;
  margin-top: 50px;
  margin-left: 10%;
  opacity: 0;
  box-shadow: 8px 8px 30px 0px #d0d0d0, -8px -8px 30px 0px #ffffff;
  animation: fade_in 0.8s ease-in-out 0s forwards;
  &:hover{
    box-shadow: 0px 0px #ffffff ;
    transition: 0.3s ease-in-out 0s;
    }
  &:active{
    position: absolute;
    width: 70%;
    height: 70%;
    margin-top: 0px;
    margin-left: 0px;
    z-index: 1;
    border: solid 1px;
    transition: 0.3s ease-in-out 0s;

  }
}
.work_texts{
  &-heading{
    font-size: 30px;
    font-style: bold;
    margin-top: 50px;
    margin-left: 10%;
    animation: slidein 1s cubic-bezier(1, 0.3, 0, 0.75) 0s;

  }
  &-passage{
    display: block;
    word-wrap: break-word;
    width: 70%;
    margin-top: 20px;
    margin-left: 15%;
    opacity: 0;
  }
  &-link{
    margin-left: 15%;
    margin-top: 20px;
    opacity: 0;
  }
}


@for $index from 1 through 100{
  .textwrapper > [class^="work_texts-passage"]:nth-child(#{$index}),
  .textwrapper > [class^="work_texts-link"]:nth-child(#{$index}){
    animation: fade_in 0.8s ease-in-out #{$index * 0.2}s forwards;
  }
}


.form-controll, .form-text, .form-btn{
}
input.form-text{
	width:80%;
	height:200px;
	overflow-wrap:anyware;
	line-height:100px;
}

@keyframes fade_in{
  0%{
    opacity: 0;
    transform: translateY(30px);
  }
  100%{
    opacity: 1;
    transform: translateY(0px);
  }
}

 @keyframes slidein{
   0%{ transform: translateX(-100%); }
   100%{ transform: translateX(0%); }
 }